/.vscode
/private_cfg
*.pyc
test.py
practice.py
private_loading/download_files.py
.DS_Store
/out_dir
/private_loading
/build
cloudbuild.yaml
/summer25.py.egg-info
upload_to_gcs.py
cloudbuild2.yaml
/m144443
plots.Rmd
